# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Convert Text to Ascii'
      'command': 'ascii-unicode-escape:convert'
    },
    {
      'label': 'Convert Ascii to Text'
      'command': 'ascii-unicode-escape:reverse'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'ascii-unicode-escape'
      'submenu': [
        {
          'label': 'Convert Text to Ascii'
          'command': 'ascii-unicode-escape:convert'
        },
        {
          'label': 'Convert Ascii to Text'
          'command': 'ascii-unicode-escape:reverse'
        }
      ]
    ]
  }
]
